div {
  text-align: center;
}

.dahboard-buttons-wrapper .dashboard-button {
  color: #000;
  background-color: gray;
  padding: 6px;
  display: block;
  margin-bottom: 6px;
  width: 200px;
  margin: 0 auto 6px;
  text-decoration: none;
  border-radius: 8px;
}

.box {
  padding: 40px 0;
}

.box-icon {
  min-height: 330px;
  background-color: lightgray;
  display: inline-block;
  min-width: 400px;
  position: relative;
}

.box-icon svg {
  font-size: 110px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
}

.dashboard-run-wrapper {
  display: flex;
  justify-content: space-between;
}
