.question-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 97vh;
  background-image: url(https://t4.ftcdn.net/jpg/00/91/32/87/360_F_91328725_zdst7zcQcytqXIAg8PfxAREVrPbaSenH.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h2 {
  font-size: 40px;
}

select {
  margin-bottom: 20px !important;
}

.back-btn {
  color: rgba(0, 0, 0, 0.26);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
}
