.question-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 97vh;
  background-image: url(https://i.imgur.com/KpVl5Rn.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
